html{
  font-size: 62.5%; /*Igual a 10px. Padrão é 16px, que é igual a 100%*/
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  height: 100vh;
  margin: 0rem;
  padding: 0rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#root{
  height: 100%;
}

/*Definindo as regiões da tela------------------------------------------------*/
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr; /*fr é uma fração do total, nesse caso, 100%*. Comumente utilizado em grid*/
  grid-template-rows: 
  8rem 
  1fr 
  8rem;
  height: 100%;  
} 


/*Definindo o header ///////////////////////////////////////////////////*/

.header{
  grid-area: header;
  background-color: rgb(2, 69, 90);
}

.header-container{
  display: flex;
  align-items: center; 
  justify-content: center;
  height: 100%;
}

.header-titulo{
 color: rgb(250, 224, 80);
 font-family: fantasy;
 font-size: 3.5rem;
}

.vazio{
  display: flex;
  width: 5%;
}


/*header -- Bloco inicial ----------------------------------------*/
.header-menu1{
  display: flex;
}

.link{
  text-decoration: none;
}

.botao-entrar{
  align-self: center;  
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  margin: .5rem;
  background-color: rgb(45, 167, 154);
  border-radius: 3px;
  border-style: none;
}

.botao-entrar:hover{
  background-color: rgb(77, 131, 138);
  transition: 0.5s;
}

.botao-criar{
  align-self: center;  
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  margin: .5rem;
  background-color: rgb(45, 167, 154);
  border-radius: 3px;
  border-style: none;
}

.botao-criar:hover{
  background-color: rgb(77, 131, 138);
  transition: 0.5s;    
}

/*header -- Bloco final que entra após login --------------------------------------------*/

.userinfo{
  display: flex;
  color: white;
  padding: 1rem;
}



.botao-alterarNome{
  align-self: center;  
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  margin: .5rem;
  background-color: rgb(45, 167, 154);
  border-radius: 3px;
  border-style: none;
  
}

.botao-alterarNome:hover{
  background-color: rgb(77, 131, 138);
  transition: 0.5s;   
  cursor: pointer;
}

.botao-sair{
  align-self: center;  
  font-size: 1.3rem;
  text-decoration: none;
  color: white;  
  padding: 1.5rem;
  background-color: rgb(45, 167, 154);
  border-radius: 3px;
  border-style: none;
}

.botao-sair:hover{
  background-color: rgb(77, 131, 138);
  transition: 0.5s;   
  cursor: pointer;
}

/*header -- alteração de nome -----------------------------------------*/
.novo-nome{
  display: flex;
  align-items: center;
  font-size: 2.1rem;
}

.novo-nomeText{
  padding: 0.5rem ;
}

.nome-display{
  display: flex;
  align-items: center;
  font-size: 2.1rem;
  
}

.botao-salvar{
  align-self: center;  
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  margin: .5rem;
  background-color: rgb(45, 167, 154);
  border-radius: 3px;
  border-style: none;
}

.botao-salvar:hover{
  background-color: rgb(77, 131, 138);
  transition: 0.5s;   
  cursor: pointer;
}

.input-display{
  height: 3.2rem; 
  border-style: none;
  border-radius: 5px;  
  padding: 0.5rem;
  width: 19rem;
  font-size: 1.7rem;
  color: rgb(57, 97, 102);
  font-family: fantasy;
}


/*definindo o main /////////////////////////////////////////////////////*/
.main{
  grid-area: main;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;  
  padding: 2rem;
  background-image: url("./image/pontinhos2.jpg");
   
}

.carregando{
  color: rgb(57, 97, 102);
  font-size: 2.5rem;
}

.aviso-comentario{
  display: flex;
  align-items: center;
  color: rgb(57, 97, 102);
  font-size: 2rem;
}


.botao-comentar{
  align-self: center;  
  font-size: 1.3rem;
  width: 61%;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  margin: .5rem;
  background-color: rgb(45, 167, 154);
  border-radius: 3px;
  border-style: none;
}

.botao-comentar:hover{
  background-color: rgb(77, 131, 138);
  transition: 0.3s;   
  cursor: pointer;
}

.botao-excluir{
  align-self: center;  
  font-size: 1rem;
  width: fit-content;
  text-decoration: none;
  color: white;
  padding: .5rem;
  margin-bottom: .5rem;
  margin-top: 1.5rem;
  background-color: rgb(45, 167, 154);
  border-radius: 3px;
  border-style: none;
}

.botao-excluir:hover{
  background-color: rgb(77, 131, 138);
  transition: 0.3s;   
  cursor: pointer;
}

.main-comments{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*background-color: rgb(189, 211, 211);*/
  background-image: url("./image/papel.png");
  background-repeat: no-repeat;
  background-size: 100%;
  flex: 0 1 25rem;
  padding: 3rem;
  padding-top: 8rem;
  margin: 1rem;
  word-wrap: break-word;
  text-align: justify;
  border-radius: 15px;
  color: rgb(40, 66, 66);
}

.main-newcomment{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.caixa-comentario{
  width: 60%;
  border: 1px solid #ccc;
  border-radius: 10px; 
  resize: vertical;
  font-size: 1.7rem;
  color: rgb(57, 97, 102);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: solid 5px rgb(168, 189, 189);
  }

.user-name{
  font-weight: 600;
}

.data-hora{
  font-weight: 600;
  font-size: 1.3rem;
}

/*Definindo o footer //////////////////////////////////////////////////*/

.footer{
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;  
  background-color: rgb(2, 69, 90);
  color: white;
}

/*Tela Login ///////////////////////////////////////////////////////////*/
.tela-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 54, 63);
  color: rgb(255, 196, 0);
  font-size: 2rem;
  height: 100%;
}

.input-email{
  height: 3.2rem; 
  border-style: none;
  border-radius: 5px;  
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 30rem;
  font-size: 1.7rem;
  color: rgb(57, 97, 102);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.input-email:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: solid 3px rgb(58, 65, 65);  

}

.input-senha{
  height: 3.2rem; 
  border-style: none;
  border-radius: 5px;  
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 30rem;
  font-size: 1.7rem;
  color: rgb(57, 97, 102);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-senha:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: solid 3px rgb(58, 65, 65);  
}



.botao-confirmarLogin{
  align-self: center;  
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  margin: .5rem;
  width: 31rem;
  background-color: rgb(45, 167, 154);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.botao-confirmarLogin:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: solid 3px rgb(58, 65, 65);  
}

.voltar{
  align-items: center;  
  font-size: 2.3rem;
  color: white;
  border-radius: 5px;
  border-style: none;
}

.voltar:hover{
  color: rgb(107, 175, 169);
  transition: 0.5s;   
  cursor: pointer;
}
/*Tela criar conta /////////////////////////////////////////////////*/
.tela-criarConta{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(23, 54, 63);
  color: rgb(255, 196, 0);
  font-size: 2rem;
  height: 100%;
}

.input-email-criar{
  height: 3.2rem; 
  border-style: none;
  border-radius: 5px;  
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 30rem;
  font-size: 1.7rem;
  color: rgb(57, 97, 102);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-email-criar:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: solid 3px rgb(58, 65, 65);  
}

.input-senha-criar{
  height: 3.2rem; 
  border-style: none;
  border-radius: 5px;  
  padding: 0.5rem;
  margin-bottom: 1.5rem;
  width: 30rem;
  font-size: 1.7rem;
  color: rgb(57, 97, 102);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-senha-criar:focus{
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: solid 3px rgb(58, 65, 65);  
}

.botao-criar-conta{
  align-self: center;  
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  padding: 1.5rem;
  margin: .5rem;
  width: 31rem;
  background-color: rgb(45, 167, 154);
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}





/*Tornando tudo responsivo ////////////////////////////////////////////////////*/

@media screen and (max-width: 700px){
  .grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-columns: 1fr; /*fr é uma fração do total, nesse caso, 100%*. Comumente utilizado em grid*/
    grid-template-rows: 26rem 1fr 8rem;
    height: 100%;  
  }   

  .header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
  }

  .header-container{      
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center; 
  }

  .header-menu1{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    width: 21rem;
  }
  
  .botao-entrar{
    display: flex;
    justify-content: center;
    width: 20rem;
  }

  .botao-criar{
    display: flex;
    justify-content: center;
    width: 20rem;
  }

  .userinfo{
    display: flex;
    flex-direction: column;   
  }

  .nome-display{
    display: flex;
    flex-direction: column;  
  }

  .novo-nome{
    display: flex;
    flex-direction: column;
  } 

  .botao-alterarNome{
    width: 20rem;       
  }

  .botao-sair{
    width: 20rem;
  }

  .botao-salvar{
    width: 20rem;
  }
  
  .main-comments{
    width: 90%;   
  }
  
  .caixa-comentario{
    width: 90%;
  }
}




